* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #001a2b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 50px;
    width: 900px;
    border-radius: 10px;
    position: relative;
}

.profile-image {
    width: 150px;
    border-radius: 50%;
    border: 9px solid #fbf7f2;
}

.info {
    margin-left: 30px;
    color: #555;
    font-weight: 500;
}

.info h1 {
    font-size: 26px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.info ul {
    display: flex;
    align-items: center;
    margin: 10px 0 30px;
}

.info ul li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 10px;
}

.info ul li i {
    font-size: 20px;
    margin-right: 5px;
    color: #ff523b;
}

.links {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.links a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    height: 50px;
    background: #ff523b;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 20px;
    font-size: 12px;
    border: 2px solid #ff523b;
}

.links a img {
    width: 20px;
    margin-right: 10px;
}

.links .msg-btn {
    background: #fff;
    color: #ff523b;
}

.share-icon {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 25px;
    background: #fbf7f2;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}